* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*
@font-face {
	font-family:'CopperplateGothic-Bold';
	src: url('../fonts/CopperplateGothic-Bold.eot');
	src: url('../fonts/CopperplateGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CopperplateGothic-Bold.woff') format('woff'),
		url('../fonts/CopperplateGothic-Bold.ttf') format('truetype'),
		url('../fonts/CopperplateGothic-Bold.svg#CopperplateGothic-Bold') format('svg');
	
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-F002;
}

@font-face {
    font-family: 'baminiplain';
    src: url('../fonts/bamini_plain-webfont.woff2') format('woff2'),
         url('../fonts/bamini_plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {font-family: 'Arial';src: url('../fonts/Arial.ttf') format('truetype');}
@font-face {font-family: 'Garamond';src: url('../fonts/Garamond.ttf') format('truetype');}
@font-face {font-family: 'Microsoft Sans Serif';src: url('../fonts/Microsoft Sans Serif.ttf') format('truetype');}
@font-face {font-family: 'Verdana';src: url('../fonts/Verdana.ttf') format('truetype');}

@font-face {font-family: 'baamini';src: url('../fonts/baamini.ttf') format('truetype');}
.baamini{font-family: 'baminiplain', Helvetica, sans-serif;}*/
.page {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 9pt Arial, Helvetica, sans-serif;
    width: 21cm;
    min-height: 29.7cm;
    padding:10px 11px 10px 18px;
    margin: 4mm auto;
    border: 1px #D3D3D3 solid; 
    border-radius: 0px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 29mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A4;
    margin: 0mm;
}

@media print {
    .page { 
        margin: 0mm;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
	
}

@media print {
    a {
        display:none;
    }
}

@media screen and projection {
    a {
        display:inline;
    }
}
.cmainhead {height:90px; width:100%; margin:0px auto;}
.cmainhead img { padding:5px;}
.cmainhead td { font-size:13px; padding:0px;height:26px;font-weight:bold; }

.cmainbot {min-height:80px; width:auto; }
.regClass { font-size:12px; padding:0px;height:26px; }
.cmaintable { border-collapse: collapse;  border-top:opx solid #000; margin:0 0 0 2px; width:100%;}
.cmaintable p{font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:5px; margin-top: 5px; padding: 2px 5px; }
.cmaintable td { font-size:12px; padding:0px;height:26px; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:5px; margin-top: 5px; padding: 2px 5px;}
.cmaintable strong { line-height:14px; padding:0px; }

.cmaintable2 { border-collapse: collapse; border-left:1px solid #000; border-top:opx solid #000; border-right:1px solid #000; border-bottom:1px solid #000; margin: 0 auto 0 2px; width:100%;}
.cmaintable2 p{font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:4px; margin-top: 5px; padding: 2px 5px; }
.cmaintable2 td { font-size:12px; padding:0px;height:22px; }
.cmaintable2 strong { line-height:11px; padding:0px; }

.txtLogo  { font-size:30px;text-transform: uppercase;padding:0px; }
.txtLogo2  { font-size:12px;text-transform: uppercase;padding:0px; }
.titleCert  { font-size:18px;text-transform: uppercase;padding:0px; }
.titleDegree  { font-size:14px;text-transform: uppercase;padding:0px; }
.slogan  { font-size:10px;text-transform: none; padding:0px; }

.pad td{padding:0px 5px}
.cmainsubtable{width:100%;}
.cmainsubtable td { border-left:1px solid #000; border-top:1px solid #000; border-collapse: collapse;padding: 2.3px 5px;}
.cmainsubtable td:first-child{ border-left:0px solid #000; border-top:1px solid #000; border-collapse: collapse;}
.cmainsubtable td:last-child{ border-right:1px solid #000; border-top:1px solid #000; border-collapse: collapse;}
.cmainsubtable1{width:790px;}
.cmainsubtable1 td { border-left:1px solid #000; border-top:1px solid #000; border-collapse: collapse;padding: 2.3px 0px;}
.cmainsubtable1 td:first-child{ border-left:0px solid #000; border-top:1px solid #000; border-collapse: collapse;}
.cmainsubtable1 td:last-child{ border-right:1px solid #000; border-top:1px solid #000; border-collapse: collapse;}

.cmainhead2 {height:50px; margin:0px auto;width:600px;text-align: center;}
.cmainhead2 img { padding:5px 5px 5px 50px;}
.cmainhead3 {height:50px; margin:0px auto;width:310px;text-align: center;}
.cmainhead3 img { padding:5px 5px 5px 10px;}
.attendanceHeadTblP{min-height:50px;width:800px;overflow-y:auto;margin:5px;font-family:'Open sans' !important;font-size:13px !important;}
.attendanceHeadTblP2{min-height:50px;width:900px;overflow-y:auto;margin:5px;font-family:'Open sans' !important;font-size:13px !important;}
.attendanceHeadTblP td, .attendanceHeadTblP2 td{height:27px;padding-left:4px;}

.clear{clear:both;}
.certTbl {
    rules: all;    
    rule-color: green white;
    /* How to suppress the rule below the thead? */
}
.certTbl td {
    border-style: none solid none solid;
    border-width: thin;
    border-color: #000000;
    margin: 1pt;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.certTblTr{
    border-style: solid none solid none;
    border-width: thin;
    border-color: #000000;
    margin: 1pt;
}
.dc1{font-family:'CopperplateGothic-Bold';font-size: 44px; line-height:17px;color:#00008b;/*font-weight:bold8;*/ letter-spacing: 1px;bottom: 0; text-align:center;}
.dc2{font-family:'arial-narrow';font-size: 15px; line-height:20px;color:#00008b;vertical-align:top; letter-spacing: 0px; text-align:center;}
.dc3{font-size: 22px; line-height:16px;color:#000000; text-align:center;}
.dc4{font-family: 'baminiplain';font-size: 44px; color:#00008b;font-weight:bold;text-align:center;margin:0px;line-height: 18px; padding: 7px 0 0;}
.dc5{font-family:'baminiplain', 'arial-narrow';font-size: 15px; line-height: 30px; color:#00008b; text-align:center;letter-spacing: 0px;}
.dc6{font-size: 22px; line-height: 20px; color:#05064a; text-align:center;}
.dc7{text-align:center;padding:5px;}
.dc8, .tc1{font-family: 'Arial';font-size: 22px; line-height: 20px; color:#000000; text-align:center;font-weight:bold;}
.dc9{font-family: 'Garamond';font-size: 16px; line-height: 30px; color:#000000; text-align: justify;}

.faculty-name-tamil {font-family: 'baminiplain';font-size: 18px; color:#000000;font-weight:bold;text-align:center;margin:5px;line-height: 18px; }
.dc10{font-size: 17px; line-height: 30px; color:#000000; text-align: justify; font-family: 'baminiplain', Arial,Helvetica,sans-serif;}
.dc10 span{font-size: 19px;font-weight:bold;}
.tcClass{font-size: 15px !important;}
.dc11{border-bottom: 1px solid #000000; color:#000000;}
.dc12{padding-top:24px;}
.dc13{font-size: 14px;color:#000000;font-family: Arial,Helvetica,sans-serif;}
.dc14{line-height: 16px;}
.dc15{font-family: 'Verdana';font-size: 11px;font-weight:bold; line-height: 16px; margin-top:20px;}
.dc16{font-family: 'Verdana';font-size: 13px;color:#800000;text-align:justify;}
.dc17{font-family: 'Arial';font-size: 12.5px;line-height: 16px;}
.dc18{font-size: 12.5px;line-height: 16px;}
.dcfont{font-size: 13px;}
.dct{font-size: 19px;}
.dct1{font-size: 18px;}
.dct2{font-size: 14px;}
.dc19{font-family: 'Microsoft Sans Serif';font-size: 14px;line-height: 17px;padding-top:0px;}
.dc20{font-family: 'baminiplain';font-size: 14px;line-height: 17px;padding-top:0px;margin-top:10px;}
.dc21{font-family: 'Verdana';font-size: 14px;line-height: 17px;}
.dc22{font-family: 'baminiplain';font-size: 16px;line-height: 17px;}
.tc2,.tc4{height:40px;font-size: 14px; line-height: 16px;font-family: Arial,Helvetica,sans-serif;}
.tc2{width:37%; color:#05064a;font-size: 16px;}
.tc3{color:#05064a;text-align:left;}
.tc4{width:40%; color:#000000;text-align:left;padding-left:20px;text-transform:uppercase;font-weight:bold;}
.tc5{width:30px;padding:0 20px;height:50px;}
table.tab_certificate {float:right;line-height:18px;}
table.tab_certificate td {padding:0;margin:0;line-height:18px;text-align:right;font-family:Arial;font-size:14px;}
.fnt {font-weight:bold;}
.fntsize{font-size:16px;}
.fnttext{font-size:20px;font-weight:bold;}