* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
@font-face {font-family: 'Bamini';src: url('../fonts/baamini.ttf');}
.baamini{font-family: Bamini, Helvetica, sans-serif;}
.page {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 9pt Arial, Helvetica, sans-serif;
    width: 42cm;
    min-height: 29.7cm;
    padding:10px 11px 10px 18px;
    margin: 4mm auto;
    border: 1px #D3D3D3 solid; 
    border-radius: 0px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 29mm;
    outline: 2cm #FFEAEA solid;
}

@page {
    size: A3;
    margin: 0mm;
}

@media print {
    .page { 
        margin: 0mm;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
	
}

@media print {
    a {
        display:none;
    }
}

@media screen and projection {
    a {
        display:inline;
    }
}
.cmainhead {height:90px; width:100%; margin:0px auto;}
.cmainhead img { padding:5px;}
.cmainhead td { font-size:13px; padding:0px;height:26px;font-weight:bold; }

.cmainbot {min-height:80px; width:auto; }
.regClass { font-size:12px; padding:0px;height:26px; }
.cmaintable { border-collapse: collapse;  border-top:opx solid #000; margin:0 0 0 2px; width:100%;}
.cmaintable p{font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:5px; margin-top: 5px; padding: 2px 5px; }
.cmaintable td { font-size:12px; padding:0px;height:26px; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:5px; margin-top: 5px; padding: 2px 5px;}
.cmaintable strong { line-height:14px; padding:0px; }

.cmaintable2 { border-collapse: collapse; border-left:1px solid #000; border-top:opx solid #000; border-right:1px solid #000; border-bottom:1px solid #000; margin: 0 auto 0 2px; width:100%;}
.cmaintable2 p{font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:4px; margin-top: 5px; padding: 2px 5px; }
.cmaintable2 td { font-size:12px; padding:0px;height:22px; }
.cmaintable2 strong { line-height:11px; padding:0px; }

.txtLogo  { font-size:30px;text-transform: uppercase;padding:0px; }
.txtLogo2  { font-size:12px;text-transform: uppercase;padding:0px; }
.titleCert  { font-size:18px;text-transform: uppercase;padding:0px; }
.titleDegree  { font-size:14px;text-transform: uppercase;padding:0px; }
.slogan  { font-size:10px;text-transform: none; padding:0px; }

.pad td{padding:0px 5px}
.cmainsubtable{width:100%;}
.cmainsubtable td { border-left:1px solid #000; border-top:1px solid #000; border-collapse: collapse;padding: 2.3px 5px;}
.cmainsubtable td:first-child{ border-left:0px solid #000; border-top:1px solid #000; border-collapse: collapse;}
.cmainsubtable td:last-child{ border-right:1px solid #000; border-top:1px solid #000; border-collapse: collapse;}
.cmainsubtable1{width:790px;}
.cmainsubtable1 td { border-left:1px solid #000; border-top:1px solid #000; border-collapse: collapse;padding: 2.3px 0px;}
.cmainsubtable1 td:first-child{ border-left:0px solid #000; border-top:1px solid #000; border-collapse: collapse;}
.cmainsubtable1 td:last-child{ border-right:1px solid #000; border-top:1px solid #000; border-collapse: collapse;}

.cmainhead2 {height:50px; margin:0px auto;width:600px;text-align: center;}
.cmainhead2 img { padding:5px 5px 5px 50px;}
.cmainhead3 {height:50px; margin:0px auto;width:310px;text-align: center;}
.cmainhead3 img { padding:5px 5px 5px 10px;}
.attendanceHeadTblP{min-height:50px;width:800px;overflow-y:auto;margin:5px;font-family:'Open sans' !important;font-size:13px !important;}
.attendanceHeadTblP2{min-height:50px;width:900px;overflow-y:auto;margin:5px;font-family:'Open sans' !important;font-size:13px !important;}
.attendanceHeadTblP td, .attendanceHeadTblP2 td{height:27px;padding-left:4px;}

.clear{clear:both;}
.certTbl {
    rules: all;    
    rule-color: green white;
    /* How to suppress the rule below the thead? */
}
.certTbl td {
    border-style: none solid none solid;
    border-width: thin;
    border-color: #000000;
    margin: 1pt;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}
.certTblTr{
    border-style: solid none solid none;
    border-width: thin;
    border-color: #000000;
    margin: 1pt;
}
.dc1{font-size: 36px; line-height:27px;color:#05064a;font-weight:bold; letter-spacing: 1px;bottom: 0; text-align:center;}
.dc2{font-size: 14px; line-height:20px;color:#05064a;vertical-align:top; letter-spacing: 0px; text-align:center;}
.dc3{font-size: 22px; line-height:16px;color:#000000; text-align:center;}
.dc4{font-size: 36px; color:#05064a;font-weight:bold;text-align:center;margin:0px;line-height: 18px; padding: 12px 0 12px;}
.dc5{font-size: 14px; line-height: 18px; color:#000000; text-align:center;letter-spacing: 0px;}
.dc6{font-size: 22px; line-height: 20px; color:#05064a; text-align:center;}
.dc7{text-align:center;padding:5px;}
.dc8, .tc1{font-size: 22px; line-height: 20px; color:#000000; text-align:center;font-weight:bold;}
.dc9{font-size: 16px; line-height: 23px; color:#000000; text-align: justify; font-family: Arial,Helvetica,sans-serif;}
.dc10{font-size: 15px; line-height: 23px; color:#000000; text-align: justify; font-family: Arial,Helvetica,sans-serif;}
.dc10 span{font-size: 21px;font-weight:bold;}
.tcClass{font-size: 15px !important;}
.dc11{border-bottom: 1px solid #000000; font-family: Arial,Helvetica,sans-serif; }
.dc12{padding-top:24px;}
.dc13{font-size: 14px;color:#000000;font-family: Arial,Helvetica,sans-serif;}
.dc14{line-height: 16px;}
.dc15{font-size: 14px;font-weight:bold; line-height: 16px;}
.dc16{font-size: 13px;color:#000000;font-family: Arial,Helvetica,sans-serif;text-align:justify;}
.tc2,.tc4{width:50%; height:40px;font-size: 14px; line-height: 16px;font-family: Arial,Helvetica,sans-serif;}
.tc2{color:#05064a;padding-left:40px;}
.tc3{color:#05064a;text-align:left;}
.tc4{color:#000000;text-align:left;padding-left:20px;text-transform:uppercase;font-weight:bold;}