* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 9pt Arial, Helvetica, sans-serif;
    width: 21cm;
    height: 29.7cm;
    padding:10px 11px 10px 18px;
    margin: 4mm auto;
    border: 1px #D3D3D3 solid; 
    border-radius: 0px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}